/*
    handles all visual design (layout, colors, fonts, animations)
*/

/* Basic CSS background */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ebcbd1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.app {
  margin-top: 60px;
  background-color: #ebcbd1;
  width: 100%;
  max-width: 1100px;
  padding: 32px;
  border-radius: 10px;
}

/* Font styles */

.rubik-puddles-regular {
  font-family: "Rubik Puddles", system-ui;
  font-weight: 400;
  font-style: normal;
  text-shadow:
    1px 0 0 currentColor,
    0 1px 0 currentColor,
    -1px 0 0 currentColor,
    0 -1px 0 currentColor;
}

.open-sans-variable {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

/* Header styles */

.app-header {
  text-align: center;
  margin-bottom: 25px;
}

.app-header h1 {
  color: black;
  font-size: 3em;
}

.app-header p {
  color: #333;
  font-size: 1.3em;
  font-family: "Open Sans", sans-serif;
}

/* Navigation button styles */

.nav-btn {
  display: inline-block;
  background-color: white;
  color: pink;
  padding: 10px 15px;
  border-radius: 5px;
  text-decoration: none;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 1.1em;
  transition: 0.2s ease;
}

.nav-btn:hover {
  background-color: #eeeded;
  transform: translateY(-2px);
}

/* Two Col Section */

.two-col {
  display: flex;
  gap: 40px;
  width: 100%;
  align-items: flex-start;
  position: relative;
}

/* Timer Section */
.timer-section {
  flex: 0 0 42%; /* make the left card 42 percent width of the other */
  height: 220px;
  background: #d4b2b9;
  border-radius: 18px; /* rounded corners */
  overflow: hidden; /* IMPORTANT - hides overflow content */
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.12); /* soft drop shadow */
  padding: 20px;

  display: flex; /* stacks the timer and text */
  flex-direction: column; /* stacks the timer and text */
  align-items: center; /* centers the timer and text */
  align-self: center; /* centers the card */
  justify-content: center; /* centers the timer and text */
  gap: 18px;
}

.timer-section h2 {
  color: white;
  margin-bottom: 10px;
  font-size: 1.2em;
  /* TODO: center text, change font */
}

.timer-section p {
  color: white;
  font-size: 2em;
  /* TODO: center text, change font*/
}

/* Add Task Section */
.add-task-section {
  flex: 1;
  height: max-content;
  background: #ffe8ed;
  border-radius: 18px;
  overflow: hidden;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.12);
  padding: 20px;

  display: flex;
  flex-direction: column;
  gap: 18px;
}

.add-task-section h2 {
  text-align: center;
}

.task-inputs {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.task-inputs input {
  padding: 10px;
  border-radius: 999px;
  border: none;
  color: grey;
  width: 200px;
  font-size: 1em;

  transition:
    box-shadow 0.2s ease,
    transform 0.1s ease;
}

.task-inputs input:focus {
  box-shadow: 0 0 10px rgba(242, 189, 242, 0.3);
  transform: scale(1.05);
}

.task-inputs button {
  padding: 10px 20px;
  border-radius: 999px;
  background-color: #ffffff;
  border: none;
  font-size: 0.9em;
  white-space: nowrap;
  color: rgb(0, 0, 0);
  cursor: pointer;
  transition:
    background-color 0.2s ease,
    transform 0.1s ease;
}

.task-inputs button:hover {
  background-color: #f0f0f0;
  transform: scale(1.05);
}

.task-inputs button:active {
  /* when i press the button the box shadow shows up */
  transform: transformY(0);
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.12);
}

.task-list {
  max-height: 380px;
  overflow-y: auto; /* adds a scroll bar when content exceeds max-height */
  padding-right: 6px; /* gives room for scrollbar */
  overflow-x: hidden; /* hides horizontal scrollbar */
}

.task-list li {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

.task-list li input[type="checkbox"] {
  width: 20px;
  height: 20px;
  cursor: pointer;
  transition: transform 0.1s ease;
}

.task-list li input[type="checkbox"]:hover {
  transform: scale(1.2);
}

.task-list li.completed {
  opacity: 0.7;
}

.task-list li.completed span {
  text-decoration: line-through;
}

.task-list li span {
  flex: 1;
  font-size: 1.2em;
  color: #333;
  margin-bottom: 10px;
  overflow-wrap: anywhere;
  min-width: 0;
}

/* Delete button styles */
.delete-btn {
  margin-left: auto;
  background: none;
  border: none;
  font-size: 1.43em;
  color: #ff6b81;
}

/* timer button styles */
.timer-buttons {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.timer-buttons button {
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
  background-color: white;
  color: pink;
  font-size: 1em;
  cursor: pointer;
  transition:
    background-color 0.2s ease,
    transform 0.1s ease;
}

.timer-buttons button:hover {
  background-color: #eeeded;
  transform: translateY(-2px);
}

.timer-buttons button:active {
  transform: translateY(0);
}

/* Rewards Section */
.reward-notif {
  position: fixed;
  top: 20px;
  right: 350px;
  width: 320px;
  background-color: linear-gradient(135deg, #ff9a9e 0%, #fad0c4 100%);
  color: white;
  padding: 15px 20px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition:
    left 0.3s ease,
    opacity 0.3s ease;
  z-index: 1000;
  font-family: "Open Sans", sans-serif;
}

.reward-notif.show {
  left: 20px;
}

.reward-notif:hover {
  opacity: 0.9;
}

/* reward grid */

.reward-items {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 16px;
  margin-top: 16px;
}

/* individual reward item */
.reward-item {
  background-color: white;
  border: 2px solid #f3c6d3;
  border-radius: 14px;
  padding: 12x;
  display: grid;
  place-items: center;
  min-height: 110px;
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0);
}

.reward-item:hover {
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.2);
  transform: translateY(-4px);
  transition:
    box-shadow 0.2s ease,
    transform 0.2s ease;
}

.reward-item.locked::after {
  content: "?";
  position: absolute;
  font-size: 28px;
  color: #666;
}

.reward-item img {
  max-width: 64px;
  max-height: 64px;
}

.reward-item.locked {
  background: #c9c9c9;
  border-color: #b9b9b9;
  filter: none;
  opactiy: 1;
}

.reward-item.locked img {
  opacity: 0;
}

.reward-toast {
  position: fixed;
  top: 20px;
  right: -420px; /* start off-screen */
  width: 360px;
  background: pink;
  color: #fff;
  padding: 16px 20px;
  border-radius: 14px;
  box-shadow: 0 12px 28px rgba(0, 0, 0, 0.2);
  font-family: "Open Sans", sans-serif;
  transition:
    right 0.3s ease,
    opacity 0.3s ease;
  opacity: 0;
  z-index: 1000;
}

.reward-toast.show {
  right: 20px;
  opacity: 1;
}

.reset-btn {
  margin-top: 20px;
  padding: 10px 15px;
  border-radius: 5px;
  background-color: white;
  color: pink;
  border: none;
  font-size: 1em;
  cursor: pointer;
  transition:
    background-color 0.2s ease,
    transform 0.1s ease;
}
